* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.square {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.subSquare {
    width: calc(100% / 10);
    aspect-ratio: 1/1;
    display: inline-block;
    border: 1px solid;
}

.bgBlu {
    background-color: #1389B2;
}

.bgVerde {
    background-color: #0CD6A1;
}

.bgGiallo {
    background-color: #FFD166;
}

.bgRosso {
    background-color: #F0466F;
}

.container {
    background-color: #003E4C;
    padding-left: 3rem !important;
}

.container h1 {
    font-size: 100px !important;
}